	RewriteEngine on
   RewriteCond %{HTTP_HOST} ^leamcduffie.com$ [NC,OR]
   RewriteCond %{HTTP_HOST} ^www.leamcduffie.com$
   RewriteCond %{REQUEST_URI} !public_html/
   RewriteRule (.*) /public_html/$1 [L]
